// Global Color
$primary-color: #fe538d;
$secondary-color: #FF8703;
$text-color: #000;
$text-white: #FFFFFF;
$dark-background: #222725;
$light-background: #9e9b9b;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Rubik", sans-serif;
}

h1 { font-size: clamp(2.2rem, 5vw, 4.5em); }
h2 { font-size: clamp(1.8rem, 4vw, 3em); }
h3 { font-size: clamp(1.3rem, 3vw, 1.5em); }
p  { font-size: clamp(1rem, 2.5vw, 1.2em); }

ul{
    margin-left: 0;
    padding-left: 0;
    li{
        list-style: none;
        margin-left: 0;
    }
}

a{
    text-decoration: none;
    color: $text-color;
    &:hover{
        color: $primary-color;
    }
}

.bg-light{
    background-color: $light-background;
}

.small{
    padding: 10px 15px;
}

.large{
    padding: 15px 20px;
}

.btn-primary{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    &:hover{
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
    }
}

.btn-secondary{
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    &:hover{
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }
}

.table-responsive {
    overflow-x: auto;
}

.table td,
.table th {
    white-space: nowrap;
}

.table td:nth-child(2) {
    white-space: normal;
    min-width: 300px;
    max-width: 400px;
}

.section-header{
    span{
        color: $primary-color;
        font-size: 1.2em;
        padding-bottom: 10px;
        display: block;
        text-transform: uppercase;
        font-weight: 500;
    }
}

header{
    nav{
        .nav-link{
            font-size: 1em;
            color: $text-color;
            text-transform: uppercase;
            font-weight: 500;
            margin-left: 20px;
            &:hover{
                color: $primary-color;
            }
        }
        .logo{
            img{
                border-radius: 40px;
            }
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 500;
            span{
                color: $primary-color;
            }
            &:hover{
                color: $primary-color;
            }
        }
    }
}

footer{
    background-color: $dark-background;
    color: $text-white;
    h3{
        font-size: 1.5em;
        color: $secondary-color;
    }
    ul{
        li{
            padding: 5px 0;
        }
    }
    a{
        color: $text-white;
        font-size: 1.2em;
        text-decoration: none;
    }
}

.section-1{
    .hero{
        background: linear-gradient(to right,#000c,#0000),url(../images/hero.jpg);
        min-height: 500px;
        color: $text-white;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        // height: 100vh;

        span{
            color: $secondary-color;
            font-size: 2.5em;
            font-weight: 500;
        }
    }
}


.section-2{
    img{
        border-radius: 40px;
    }
    span{
        color: $primary-color;
        font-size: 1.2em;
        font-weight: 500;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
}

.section-3{
    .item{
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        &:hover{
            .service-body{
                transform: translateY(0%);
                .service-content{
                    opacity: 1;
                }
            }
        }
        .service-image{
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                border-radius: 40px;
                aspect-ratio: 1 / 1.2;
                object-fit: cover;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border-radius: 40px;
                background: linear-gradient(180deg, #d9d9d900, #d9d9d900 13.02%, #00000082 42.5%, #000000a1 70%, #000);
            }
        }
        .service-body{
            color: $text-white;
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;
            transform: translateY(80%);
            transition: all 0.4s ease-in-out;
            .service-content{
                transition: all 0.4s ease-in-out;
                opacity: 0;
            }
        }
    }
}

.section-4{
    .card{
        border-radius: 40px;
        margin-bottom: 20px;
    }
}

.section-5{
    .swiper{
        padding: 25px 25px 50px 25px;
        .swiper-pagination-bullet-active{
            background-color: $secondary-color;
        }
    }
    .card{
        border-radius: 40px;
        .card-body{
            .rating{
                color: $secondary-color;
            }
            .content{
                p{
                    font-size: 1em;
                    span{
                        color: $primary-color;
                        cursor: pointer;
                        font-size: 17px;
                        &:hover{
                            color: $secondary-color;
                        }
                    }
                }
            }
            .meta{
                img{
                    border-radius: 50px;
                }
            }
            .name{
                font-size: 1.3em;
                font-weight: 500;
            }
        }
    }
}

.section-6{
    .card{
        border-radius: 40px;
        img{
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
        .card-body{
            a.title{
                font-size: 1.4em;
            }
        }
    }
}

.section-7{
    .hero{
        background: linear-gradient(to right,#000c,#0000),url(../images/hero.jpg);
        min-height: 300px;
        color: $text-white;
        background-position: center;

        span{
            color: $secondary-color;
            font-size: 1.5em;
            font-weight: 500;
        }
    }
}

.section-8{
    .card{
        border-radius: 40px;
        img{
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }
        .card-body{
            a.title{
                font-size: 1.4em;
            }
            .card-title{
                font-size: 1.5em;
                font-weight: 500;
            }
            .card-sub-title{
                font-size: 1.3em;
                color: $light-background;
            }
        }
    }
}

.section-9{
    .card{
        border-radius: 40px;
        // .card-body{
            
        // }
    }
}

.section-10{
    .sidebar{
        border-radius: 40px;
        // .card-body{
            
        // }
    }
}


.section-11{
    .sidebar{
        border-radius: 40px;
        // .card-body{
            
        // }
        .title{
            font-size: 1.2em;
        }
    }
}

.login-form{
    .card{
        width: 450px;
    }
}

.dashboard{
    .card{
        min-height: 400px;
    }
}

.sidebar{
    ul{
        li{
            a{
                display: block;
                padding: 10px 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.20);
            }
        }
    }
}

